@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="Category" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id"  />
    <div class="col-md-6 form-group">
        <label>Kategori Adı</label>
        <input asp-for="Name" class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-md-6 form-group">
        <label>Kategori Acıklama</label>
        <textarea asp-for="Description" rows="4" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <br/>
    <button class="btn btn-outline-dark" type="submit">Güncelle</button>
</form>

