@using AspNetCoreKampi.ViewModels
@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Yazar Kayıt Sayfası</title>

    <link href="/AdminPanel/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdminPanel/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/AdminPanel/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/AdminPanel/css/animate.css" rel="stylesheet">
    <link href="/AdminPanel/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            
            <h3>Yazar Kayıt Sayfası</h3>
            <p>Yeni bir hesap oluştur.</p>
            <form class="m-t" role="form" asp-controller="RegisterUser" asp-action="Index" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adınız Soyadınız" asp-for="NameSurname" required="">
                    <span asp-validation-for="NameSurname" class="text-success"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Kullanıcı Adınız" asp-for="UserName" required="">
                    <span asp-validation-for="UserName" class="text-success"></span>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Mail" required="">
                    <span asp-validation-for="Mail" class="text-success"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Sifre" asp-for="Password" required="">
                    <span asp-validation-for="Password" class="text-success"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Sifreyi Tekrar Giriniz" asp-for="ConfirmPassword" required="">
                    <span asp-validation-for="ConfirmPassword" class="text-success"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox" required=""><i></i> Şartları ve politikayı kabul edin </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>

                <p class="text-muted text-center"><small>Zaten hesabınız var mı?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/RegisterUser/Login/">Giriş Yap</a>
            </form>
            <p class="m-t"> <small>Asp.Net Core 5.0 | Tüm Hakları Saklıdır &copy; @DateTime.Now</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/AdminPanel/js/jquery-3.1.1.min.js"></script>
    <script src="/AdminPanel/js/popper.min.js"></script>
    <script src="/AdminPanel/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="/AdminPanel/js/plugins/iCheck/icheck.min.js"></script>
    <script>$(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>

</html>

