
@{
    ViewData["Title"] = "LoginGirisSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LoginGirisSayfasi</h1>

<h1>@ViewBag.User</h1>
<h1>@ViewBag.UserId</h1>
<h1>@ViewBag.Name</h1>
<h1>@ViewBag.Password</h1>

<br />
<a class="btn btn-warning" href="/ProfileUpdate/Index/">Updated</a>