@model MessageTwo
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<h1>Mesaj Detayı</h1>


<span class="form-control">@Model.Subject</span>
<br />
<p class="form-control">@Model.Detail</p>

