@model IEnumerable<EntityLayer.Concrete.Blog>

<div class="tech-btm">
  
    @foreach (var blog in Model.Take(3))
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Blog/Details/@blog.Id">
                    <img src="@blog.Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Blog/Details/@blog.Id">@blog.Title </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @blog.CreateDate.ToString("dd MMMM yyyy")
                    </span>
                </div>
            </div>

        </div>
    }


</div>